:root {
    --Ghost-white: hsl(230, 25%, 95%);
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(258, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(258, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
    --white: hsl(0, 0%, 100%);
    font-size: 10px;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 0;
}

html {
    height: 200rem;
}
