.father {
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
}
.child {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    display: block;
    background-color: aqua;
    height: 20px;
    width: 20px;
}
