/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 10%;
    position: fixed;
    z-index: 100;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    transition: padding linear 300ms;
}

nav .navLogo {
    transform: translateY(-1px);
    cursor: pointer;
    z-index: 2;
    margin-right: 5rem;
    display: inline-block;
    height: 3.3rem;
}
.filter {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(215deg)
        brightness(105%) contrast(101%);
}

.navOptions {
    flex: 1;
}
.navOptions .row {
    z-index: 2;
}

nav ul {
    display: flex;
    column-gap: 8%;
    margin: auto 0 auto;
    height: 3.3rem;
    align-items: center;
}

nav li {
    height: 3.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav li:hover,
nav a:hover {
    color: var(--Dark-Violet);
}

nav a {
    font-size: 1.4rem;
    color: var(--Grayish-Violet);
    font-weight: 700;
    margin: auto 0 auto;
    cursor: pointer;
    padding: 0.5rem;
}

nav button {
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 700;
    background-color: var(--Cyan);
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin: auto 0 auto 2rem;
}

nav button:hover {
    opacity: 0.6;
}

nav .register {
    height: 3.3rem;
    text-align: right;
}
nav .register button,
a {
    display: inline;
}

#mobileMenu,
.mobileMenu {
    display: none;
}

.scrolling-active {
    background: hsla(258, 27%, 26%, 0.95);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.scrolling-active a,
.scrolling-active li:hover a,
.scrolling-active .register a:hover {
    color: var(--white);
}

.scrolling-active li:hover,
.scrolling-active .register a:hover {
    opacity: 0.7;
}

.scrolling-active .register button {
    opacity: 0.9;
}

.scrolling-active .register button:hover {
    opacity: 1;
}
/* Tablet resolution */
@media (min-width: 680px) and (max-width: 1023px) {
    /* Navigation */
    nav ul {
        column-gap: 1%;
    }
    nav .navLogo {
        margin-right: 4%;
    }
    nav button {
        margin-left: 0.3rem;
    }
}

/* PC resolution  */
@media (min-width: 1024px) {
    /* Navigation */
}

/* Mobile resolution */
@media (max-width: 679px) {
    /* layer */
    .layer {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(110 110 110 / 15%);
        transition: all linear 300ms;
    }
    /* Navigation */
    nav {
        padding-bottom: 2rem;
    }

    nav .navOptions {
        overflow: hidden;
        max-height: 50rem;
        background: var(--Dark-Violet);
        text-align: center;
        width: 90%;
        border-radius: 1rem;
        padding: 2rem 1.5rem 2rem;
        position: absolute;
        top: 102%;
        left: 50%;
        transform: translateX(-50%);
        animation: fadeDown 300ms 1 ease-out;
        transition: max-height 300ms ease-out, padding 300ms ease-out,
            opacity 500ms ease-out;
    }

    nav ul {
        width: 90%;
        height: auto;
        flex-direction: column;
        padding-bottom: 1rem;
        border-bottom: var(--Grayish-Violet) 1px solid;
        margin: 0 auto 1rem;
        animation: popdown 300ms 1 ease-out;
    }

    nav li {
        height: auto;
        padding: 1.2rem 3rem;
    }
    nav li:hover {
        opacity: 0.8;
    }

    nav a {
        color: var(--white);
        font-size: 1.8rem;
    }

    nav .register {
        padding-top: 2rem;
        height: auto;
        text-align: center;
        animation: popdown 300ms 1 ease-out;
    }

    .navOptions a {
        display: block;
        padding: 0%;
        margin: 1.2rem 0 1.2rem 0;
        color: var(--white);
    }
    .navOptions a:hover {
        color: var(--white);
        opacity: 0.8;
    }

    .navOptions button {
        display: block;
        padding: 1rem;
        width: 90%;
        border-radius: 3rem;
        margin: 2rem 0;
        font-size: 1.8rem;
    }

    .mobileMenu {
        height: 3.3rem;
        display: flex;
        align-items: center;
        direction: rtl;
        opacity: 0.5;
    }

    .mobileMenu:hover {
        cursor: pointer;
        opacity: 1;
    }

    .menuBar {
        display: block;
    }

    .hidden {
        display: none;
    }

    .navOptions.fadeUp {
        padding: 0;
        max-height: 0;
        opacity: 0;
    }
}

/* Animation */
@keyframes popdown {
    0% {
        opacity: 0;
        transform: translate(0%, -10rem);
    }

    80% {
        transform: translate(0%, -1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0%, 0);
    }
}
@keyframes fadeDown {
    0% {
        opacity: 0.8;
        max-height: 0;
        transition: max-height 0.15s ease-out;
    }

    100% {
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }

    100% {
        opacity: 0.8;
        max-height: 0;
        transition: max-height 0.15s ease-out;
    }
}
