/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 10%;
    position: fixed;
    z-index: 100;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    transition: padding linear 300ms;
}

nav .navLogo {
    transform: translateY(-1px);
    cursor: pointer;
    z-index: 2;
    margin-right: 5rem;
    display: inline-block;
    height: 3.3rem;
}
.filter {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(215deg)
        brightness(105%) contrast(101%);
}

.navOptions {
    flex: 1;
}
.navOptions .row {
    z-index: 2;
}

nav ul {
    display: flex;
    column-gap: 8%;
    margin: auto 0 auto;
    height: 3.3rem;
    align-items: center;
}

nav li {
    height: 3.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav li:hover,
nav a:hover {
    color: var(--Dark-Violet);
}

nav a {
    font-size: 1.4rem;
    color: var(--Grayish-Violet);
    font-weight: 700;
    margin: auto 0 auto;
    cursor: pointer;
    padding: 0.5rem;
}

nav button {
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    margin: auto 0 auto 2rem;
}

nav .register {
    height: 3.3rem;
    text-align: right;
}
nav .register button,
a {
    display: inline;
}

#mobileMenu,
.mobileMenu {
    display: none;
}

.scrolling-active {
    background: var(--scroll-nav);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.scrolling-active a,
.scrolling-active li:hover a,
.scrolling-active .register a:hover {
    color: var(--white);
}

.scrolling-active li:hover,
.scrolling-active .register a:hover {
    opacity: 0.7;
}

/* Main */
main {
    padding-top: 9%;
}
/* Desc */
.desc {
    background: url(../assets/img/illustration-working.svg) bottom 14em right -12rem
        no-repeat;
    background-size: 55%;
    padding: 12rem 10% 20rem;
    position: relative;
}
.desc > h1 {
    color: var(--Very-Dark-Violet);
    font-size: 7.6rem;
    font-weight: 700;
    line-height: 9rem;
    width: 60rem;
}

.desc > p {
    color: var(--Grayish-Violet);
    font-size: 2.3rem;
    width: 50rem;
    padding-top: 1rem;
}

.desc > button {
    font-size: 1.6rem;
    padding: 1.1rem 3.5rem;
    margin-top: 3.5rem;
}

.linkbox {
    background: url(../assets/img/bg-shorten-desktop.svg) no-repeat,
        var(--Dark-Violet);
    background-size: 113%;
    background-position: top -1rem right -7rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 3% 4%;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.linkbox input {
    flex: 1;
    padding: 1.7rem 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.linkbox > button {
    font-size: 1.6rem;
    padding: 0.8rem 3.7rem;
    border-radius: 1rem;
    min-width: 16rem;
}

/* Tablet resolution */
@media (min-width: 680px) and (max-width: 1023px) {
    /* Navigation */
    nav {
        padding-top: 3rem;
        padding-bottom: 1.1rem;
    }

    nav ul {
        column-gap: 1%;
    }
    nav .navLogo {
        margin-right: 4%;
    }
    nav button {
        margin-left: 0.3rem;
    }

    .scrolling-active {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
    }

    /* Desc  */
    .desc {
        background: url(../assets/img/illustration-working.svg) bottom 12rem
            right -8rem no-repeat;
        background-size: 54%;
    }

    .desc > h1 {
        font-size: 6rem;
        line-height: 7rem;
        width: 50rem;
    }

    .desc > p {
        font-size: 1.6rem;
        width: 45rem;
    }
}

/* Tablet low resolution */
@media (min-width: 680px) and (max-width: 800px) {
    /* Main */
    main {
        padding-top: 5%;
    }

    /* Desc  */
    .desc {
        background: url(../assets/img/illustration-working.svg) bottom 13em
            right -11rem no-repeat;
        background-size: 53%;
        padding: 12rem 10% 14rem;
    }

    .desc > h1 {
        font-size: 4.5rem;
        line-height: 5.5rem;
        width: 38rem;
    }

    .desc > p {
        font-size: 1.5rem;
        width: 38rem;
    }
}

/* PC resolution  */
@media (min-width: 1024px) {
    /* Navigation */
}

/* Mobile resolution */
@media (max-width: 679px) {
    /* Layer */
    .layer {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(110 110 110 / 15%);
        transition: all linear 300ms;
    }
    /* Navigation */
    nav {
        padding: 4rem 4% 1rem;
    }

    nav .navOptions {
        overflow: hidden;
        max-height: 50rem;
        background: var(--Dark-Violet);
        text-align: center;
        width: 88%;
        border-radius: 1rem;
        padding: 2rem 1.5rem 2rem;
        position: absolute;
        top: 102%;
        left: 50%;
        transform: translateX(-50%);
        animation: fadeDown 300ms 1 ease-out;
        transition: max-height 300ms ease-out, padding 300ms ease-out,
            opacity 500ms ease-out;
    }

    nav ul {
        width: 90%;
        height: auto;
        flex-direction: column;
        padding-bottom: 1rem;
        border-bottom: var(--Grayish-Violet) 1px solid;
        margin: 0 auto 1rem;
        animation: popdown 300ms 1 ease-out;
    }

    nav li {
        height: auto;
        padding: 1.2rem 3rem;
    }
    nav li:hover {
        opacity: 0.8;
    }

    nav a {
        color: var(--white);
        font-size: 1.8rem;
    }

    nav .register {
        padding-top: 2rem;
        height: auto;
        text-align: center;
        animation: popdown 300ms 1 ease-out;
    }

    .navOptions a {
        display: block;
        padding: 0%;
        margin: 1.2rem 0 1.2rem 0;
        color: var(--white);
    }
    .navOptions a:hover {
        color: var(--white);
        opacity: 0.8;
    }

    .navOptions button {
        padding: 1rem;
        width: 90%;
        margin: 2rem 0;
        font-size: 1.8rem;
    }

    .mobileMenu {
        height: 3.3rem;
        display: flex;
        align-items: center;
        direction: rtl;
        opacity: 0.5;
    }

    .mobileMenu:hover {
        cursor: pointer;
        opacity: 1;
    }

    .menuBar {
        display: block;
        transform: scale(1.3) translateX(-7px);
    }

    .hidden {
        display: none;
    }

    .navOptions.fadeUp {
        padding: 0;
        max-height: 0;
        opacity: 0;
    }

    .scrolling-active {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* Desc */
    .desc {
        background: url(../assets/img/illustration-working.svg) right -15rem top
            6rem no-repeat;
        background-size: 131vw;
        padding: 116vw 5% 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desc h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 4.5rem;
        width: 100%;
        font-weight: 700;
    }
    .desc p {
        font-size: 1.8rem;
        margin-top: 0.5em;
        width: 100%;
        text-align: center;
    }
    .desc > button {
        font-size: 1.6rem;
        margin: 2.5rem 0 4rem;
        margin-bottom: 7rem;
    }
    .linkbox {
        background: url(../assets/img/bg-shorten-mobile.svg) no-repeat,
            var(--Dark-Violet);
        background-size: 81%;
        background-position: top -4rem right -1rem;
        flex-direction: column;
        gap: 1.5em;
        padding: 6%;
        width: 90%;
    }
    .linkbox input {
        font-size: 1.2rem;
        padding: 1.7rem;
        border-radius: 0.5rem;
        margin-right: 0;
    }

    .linkbox button {
        font-size: 1.8rem;
        border-radius: 0.5rem;
        padding: 1.25rem;
    }
}

/* Animation */
@keyframes popdown {
    0% {
        opacity: 0;
        transform: translate(0%, -10rem);
    }

    80% {
        transform: translate(0%, -1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0%, 0);
    }
}
@keyframes fadeDown {
    0% {
        opacity: 0.8;
        max-height: 0;
        transition: max-height 0.15s ease-out;
    }

    100% {
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }
}
@keyframes fadeUp {
    0% {
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }

    100% {
        opacity: 0.8;
        max-height: 0;
        transition: max-height 0.15s ease-out;
    }
}
